{% extends 'base.html' %}

  {% block content %}
  
  <!-- le code special a la page-->  
    <h1 class="text-center mt-3 mb-5">Bienvenue sur notre Blog</h1>
    <!-- Card -->
    <div class="container">
      
        <div class="row">
          

            {% for article in liste_articles%}
                <!--pour un smartphone col-12 col-md pour tablete et col-lg ordi portable, grand ecran col-xl ---->
                <div class="card col-12 col-md-6 col-lg-3 col-xl-3 mb-3">

                    <!-- Card image -->
                    {% if article.image.url == "http://default" %}
                    <a href="{% url 'detail' article.id %}">
                      <img class="card-img-top" src="https://via.placeholder.com/468x500?text=My Blog" alt="Card image cap"  style="height:200px">
                    </a>
                    {% else %}

                    <a href="{% url 'detail' article.id %}">
                      <img class="card-img-top" src="{{ article.image.url}}" alt="Card image cap"  style="height:200px">
                    </a>
                    {% endif %}
                        
                  
                    <!-- Card content -->
                        <div class="card-body">
                  
                      <!-- Title -->
                        <h4 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h4>
                      <!-- Text -->
                        <p class="card-text">{{article.desc|truncatewords:8}}</p>
                        <p class="card-text">Publier il y a {{article.created_at|timesince}}</p>
                      <!-- Button -->
                        <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire l'article</a>
                  
                    </div>
                  
                  </div>
                  <!-- Card -->
          
            {% endfor %}
            
        </div>
    </div>
    
    {% endblock %}


